%h2.text-center All Transbay Bus Routes
- if @bus_routes.count == 0
  .text-center
    = link_to "Refresh Routes", refresh_bus_routes_path
.grid-layout
  - @bus_routes.each do |bus_route|
    .grid-item
      .bus-route-list-entry
        %h3= link_to bus_route.name, bus_route_path(bus_route)
        %small= bus_route.description
        %ul.nav.nav-pills
          %li= link_to "#{bus_route.direction_a}", bus_route_path(bus_route, :direction => bus_route.direction_a)
          %li= link_to "#{bus_route.direction_b}", bus_route_path(bus_route, :direction => bus_route.direction_b)