.bus-route-summary
  %h2.text-center= @bus_route.name
  %p.text-center= @bus_route.description
  .grid-layout
    %h2.text-center= "#{@direction} Trips"
    - @trip_array.each do |trip|
      = render partial: 'trips/list_entry', locals: {bus_route: @bus_route, trip: trip}