%h2.text-center= @bus_route.name + " - #{@direction} Trips"
.grid-layout
  - @trip_array.each do |trip|
    .full-length-item
      .trip-list-entry
        .start-time-box
          .start-time= trip.start_time_to_s
        .trip-direction-box
          .trip-direction=  trip.direction_to_s
        .schedule-type-box
          .schedule-type= trip.schedule_type_to_s