%h2.text-center= @bus_route.name + " - #{@direction} Trips"
.grid-layout
  - @trip_array.each do |trip|
    .full-length-item
      .trip-list-entry
        .start-time-box
          .start-time= link_to trip.start_time_to_s, bus_route_trip_path(@bus_route, trip.trip_id)
        .trip-direction-box
          .trip-direction=  trip.direction_to_s
        .schedule-type-box
          .schedule-type= trip.schedule_type_to_s