.bus-route-summary
  %h1= @bus_route.name
  %p= @bus_route.description
  .grid-layout
    %h1.text-center= "#{@bus_route.direction_a} Trips"
    - @trip_array_a.each do |trip|
      = render partial: 'trips/list_entry', locals: {trip: trip}
  .grid-layout
    %h1.text-center= "#{@bus_route.direction_b} Trips"
    - @trip_array_b.each do |trip|
      = render partial: 'trips/list_entry', locals: {trip: trip}