%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BayCrosser
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "BayCrosser", root_path
      .navigation-buttons
        .btn.btn-default= link_to "All Routes", bus_routes_path
    .container
      = yield