!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BayCrosser
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %h1
        = link_to "BayCrosser", root_path
      %ul.nav.nav-pills
        %li= link_to "All Routes", bus_routes_path
      = yield
